@charset "UTF-8";

body {
  padding-bottom: 1rem;
  font-family: "メイリオ", sans-serif;

}


h1 {
  margin-top: 1rem;
}

.login-panel {
  margin-top: 1rem;
}

label {
  font-weight: bold;
}

.error-message {
  color: #a00;
  font-weight: bold;
}
/*--MyShop（グーグルフォント）--*/
.navbar-brand{
font-size:30px;
font-family: 'Allura', cursive;
}
/*-------------------------------------------
TOPページ
-------------------------------------------*/
.top img{
    display: block;
    width: 80%;
    margin: auto;
 }


#column{
	display:flex;
	max-width: 960px;
    margin: 0 auto;
}

.itemList ul {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content: center;
	/*margin-left:100px;
	padding-left: 300px;*/
	
}

#column li {
	padding: 20px 40px;
    list-style: none;
}
#column li p{
	margin:1px;
}
.item img{
  width: 200px;
  height: 250px;
  object-fit: cover; 

}
.new{
	font-size:small;
	margin:10px;
}

/*-------------------------------------------
商品詳細ページ
-------------------------------------------*/
#item {
  display: flex;
  justify-content: space-around;;
  margin: 100px 400px;
 
}
#item.item-image {
  max-width: 400px;
  flex-shrink: 0;
  
}
#item .item-info p {
  margin: 30px;
  line-height: 1.9;
  width:400px;
  word-break: break-word;
}

/*-------------------------------------------
ログアウトページ
-------------------------------------------*/
.logout p{
 text-align: center; 
 margin-top:30px;

}
/*-------------------------------------------
注文完了トページ
-------------------------------------------*/
.done p{
	text-align: center;
	 margin-top:30px;
}



