@charset "UTF-8";
/*-------------------------------------------
共通設定
-------------------------------------------*/
body {
  padding-bottom: 1rem;
  font-family: "メイリオ", sans-serif;

}


h1 {
  margin-top: 1rem;
}

.login-panel {
  margin-top: 1rem;
}

label {
  font-weight: bold;
}

.error-message {
  color: #a00;
  font-weight: bold;
}
/*--MyShop（グーグルフォント）--*/
a.navbar-brand {

font-family: 'Allura', cursive;
}



li{
	list-style: none;
}
/*-------------------------------------------
TOPページ
-------------------------------------------*/
.top img{
    display: block;
    width: 80%;
    margin: auto;
 }
 
/*-sideカテゴリとitemList-*/

#column{
	display:flex;
	width: 80%;
    margin: auto;
	
}

.itemList{
	width:80%;
}

.item ul{
	display:flex;
	flex-wrap: wrap;
	
}

.item li{
	margin:20px;
}
.item img{
  width: 200px;
  height: 250px;
  object-fit: cover; 

}

.side{
	
	width:300px;
	
}
.side li{
	text-align: center;
	margin:20px;
	padding:20px;
	background-color:#EEEEEE;
	height:60px;
}

/*ヘッダー新規会員登録はこちら*/
.new{
	font-size:small;
	margin:10px;
}


/*-------------------------------------------
商品詳細ページ
-------------------------------------------*/
#item {
  display: flex;
  justify-content: space-around;
  margin: 100px 400px;
 
}
#item.item-image {
  max-width: 400px;
  flex-shrink: 0;
  
}
#item .item-info p {
  margin: 30px;
  line-height: 1.9;
  width:400px;
  word-break: break-word;
}

/*-------------------------------------------
ログインページ
-------------------------------------------*/

/*-------------------------------------------
ログアウトページ
-------------------------------------------*/
.logout p{
 text-align: center; 
 margin-top:30px;

}
/*-------------------------------------------
注文完了ページ
-------------------------------------------*/
.done {
	text-align: center;
	 margin-top:30px;
}
/*-------------------------------------------
ショップリストページ
-------------------------------------------*/
.shoplist img{
	width:300px;
	margin:30px;
}
.title h1{
	text-align: center;
	 margin:30px;
}
.all{
	display: flex;
  justify-content: center;
   align-items: center
}
.shoplist{
	display: flex;
  justify-content: center;
   align-items: center;
  background-color:#EEEEEE;
  width:900px;
  }

.address{
	padding:80px;
	margin-top:30px;
}
.shoplist td{
	
	text-align: center;
	height:50px;
	border-bottom: 1px solid;
    border-color:#A9A9A9;
}
.shoplist table{
	text-align: center;
	width:350px;
}

/*-------------------------------------------
マイページ
-------------------------------------------*/
#mypage{
   align-items: center
  }
.register{
  align-items: center;
  background-color:#EEEEEE;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  padding:50px
 
}
.orderhistory{
  align-items: center;
  background-color:#EEEEEE;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  padding:50px
}
#mypage p{
	border-bottom: 1px solid;
    border-color:#A9A9A9;
}

.register td{
	width:200px;
	height:50px;
}
.orderhistory table{
	border-bottom: 1px solid;
	border-color:#A9A9A9;
	width:800px;
	
}
.orderhistory td{
	padding:10px;
	height:50px;
}
/*-------------------------------------------
商品管理システムページ
-------------------------------------------*/
.itemimage{
	width: 160px;
  height: 200px;
  object-fit: cover;
}




